@import 'variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: $light-color;
    color: $dark-color;
    font-family: $font-stack;
    line-height: 1.5rem; 
}

header{
    background: $dark-color;
    color: $light-color;
    padding: 1rem;
    h1{
        text-align: center;
    }
}

.section {
    padding: 3rem;
    h3{
        font-size: 2rem;
    }
    &-a{
        background: $primary-color;
        color: white;
    }
    &-b{
        background: $secondary-color;
        color: white;
    }
}

a{
    color: #333333;
    &:hover{
        color: coral;
    }
}







