@import 'variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: $light-color;
    color: $dark-color;
    font-family: $font-stack;
    line-height: 1.5rem; 
}

header{
    background: $dark-color;
    color: $light-color;
    padding: 1rem;
    h1{
        text-align: center;
    }
}

.section {
    padding: 3rem;
    h3{
        font-size: 2rem;
    }
    &-a{
        background: $primary-color;
        color: white;
    }
    &-b{
        background: $secondary-color;
        color: white;
    }
}

%btn-shared{
    display: inline-block;
    padding: 0.7rem 2rem;
    border: none;
    cursor: pointer;
    text-decoration: none;
    margin-top: 1rem;
}

.btn{
    &-light{
        @extend %btn-shared;
        background: $light-color;
        color: #333333;
    }
    &-dark{
        @extend %btn-shared;
        background: $dark-color;
        color: #ffffff;
    }
}








